<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
</head>
<body class="back">
    <div class="high-container">
        <div class="group-2"> <span class="text"><button type="button" class="button">Регистрация</button></span></div>
            <div class="section"><span class="text-2"><button type="button" class="button">Вход</button></span></div>
        <span class="text-3">MusWebApp</span>
    </div>
</body>
</html>
